<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Extent Suite">

<listeners>
  <listener class-name="automation.ExtentReportListener.ExtentReportListener"/>
  </listeners>
  
  <test name="Extent Test">
  
  
    <classes>
      <class name="automation.testcases.LoginTest"/>
       <class name="automation.testcases.CustomerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
